<!----- 【 MUSIC PLAYER #01 by @glenthemes 】 ----->
<link href="//glen-players.gitlab.io/01/x.css" rel="stylesheet">
<script src="//glen-players.gitlab.io/01/y.js"></script>

<div glenplayer01 position="bottom" shadow="yes">
    <div top-text uppercase>Fleeting Words / Family</div>
    <div bottom-text uppercase>Keiichi Okabe / Square Enix Music</div>
    <audio src="https://file.garden/ZRt8jW_MomIqlrfn/music/Fleeting_Words_Family.mp3" volume="85%"></audio>
</div>

<style element="glenplayer01">
:root {
    z-index:99; /* increase this number (up to 2147483647) if you cannot see or interact with the player */
    
    --MusicPlayer-Screen-Edge-Offset:30px;
    
    --MusicPlayer-Frame-Thickness:12px;
    --MusicPlayer-Frame-Color:#fff;
    --MusicPlayer-Frame-Transparency:40%;
    
    --MusicPlayer-Shadow-Strength:10%;
    
    --MusicPlayer-Text-Background:#fff;
    --MusicPlayer-Text-Background-Transparency:50%;
    --MusicPlayer-Text-Padding:12px;
    --MusicPlayer-Text-Align:right;
    --MusicPlayer-Text-Row-Spacing:5px;
    
    --MusicPlayer-Text-TOP-Font:"tenon light";
    --MusicPlayer-Text-TOP-Size:11px;
    --MusicPlayer-Text-TOP-Color:#999;
    
    --MusicPlayer-Text-BOTTOM-Font:"tenon light";
    --MusicPlayer-Text-BOTTOM-Size:11px;
    --MusicPlayer-Text-BOTTOM-Color:#222;
    
    --MusicPlayer-Circle-Size:50px;
    --MusicPlayer-Circle-Background:#fff;
    --MusicPlayer-Circle-Transparency:30%;
    
    --MusicPlayer-PlayButton-Size:10px;
    --MusicPlayer-PlayButton-Color:#222;
    
    --MusicPlayer-Bar-Thickness:2px;
    --MusicPlayer-Bar-Spacing:2px;
    --MusicPlayer-Bar-Color:#222;
    
    --MusicPlayer-SlideIn-Speed:0.69s;
    --MusicPlayer-SlideOut-Speed:1s;
}
</style>
<!--- END MUSIC PLAYER --->
